@model IEnumerable<PNT1.Models.Item>

@{
    ViewData["Title"] = "Catalogue";
}

<script src="~/js/site.js"></script>
<h1>Catalogo</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Agregar al carrito
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ubicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDeNacimiento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr ="table">
            <td id="check">
                <input type="checkbox">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ubicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeNacimiento)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Titulo">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
<button type="button" onclick="validacionCatalogo">Continuar</button>
