@model PNT1.ViewModels.ItemListViewModel


        <h1>Catalogo</h1>
        @foreach (var item in Model.Items)
        {
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="@item.Imagen"/>
                </div>
                <h2><a asp-controller="Items" asp-action="Details" asp-route-id="@item.Id">@item.Descripcion</a></h2>
                <h3>@item.Valor</h3>
            </div>
            <div class="agregarAlCarrito">
                <p class="button">
                    <a class="btn btn-primary" asp-controller="Carrito" asp-action="AgregarAlCarrito" asp-route-itemId="@item.Id">Agregar al carrito</a>
                </p>
            </div>
        }



    